node_modules
.vscode
/.svelte-kit
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
!.env.test
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.npmrc
.gitignore
.prettierignore
.prettierrc
eslint.config.js
tsconfig.json
components.json
docker-compose.yaml
tileset/*
!tileset/style.json
!tileset/process-openmaptiles.lua
!tileset/config-openmaptiles.json
.github
.husky
build
